.modal {
    background-color: var(--black-50);
}
.modal[aria-modal="true"] {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.modal-dialog {
    width: 650px;
    min-width: 650px;
}

.modal-content {
    border-radius: 10px !important;
    padding: 25px;
}

h2 {
    font-size: 2rem !important;
    font-weight: 900 !important;
    line-height: 1 !important;
}

.modal-header {
    border: 0 !important;
    padding: 0 !important;
}
.modal-footer {
    border: 0 !important;
    padding: 0 !important;
    justify-content: start !important;
}
.modal-body {
    color: var(--dark);
    font-size: 1rem;
    width: 90%;
    padding: 17px 0 !important;
    line-height: 130%;
}
.modal-footer .button {
    margin: 0;
}
.modal-footer .button:not(:last-child) {
    margin-right: 5px;
}