@import url(button.css);
@import url(text.css);
@import url(form.css);
@import url(header/header.css);
:root {
  --green: #348F6C;
  --gold: #E2C992;
  --dark_blue: #3F3D56;
  --grey: #C0C0C0;
  --gold_rgb: 226, 201, 146;
}
body{
  background-color: var(--green);
}
.contact_socialmeet{
  margin: 5px 5px;
  text-align: left;
  color:white;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #8f4bab;
}
td{
  padding: 5px 10px ;
}

ion-icon{
  font-size: 20px;
  color: var(--gold);
}
