h4 {
    background: white;
    display: inline;
    position: relative;
    left: 20px;
    bottom: 20px;
    font-family: Raleway;
    font-size: 2rem;
}
h1{
    color: var(--dark_gray);
    font-size: 3rem;
    font-family: Raleway;
    }

h2 {
    font-size: 2rem;
}
p{
    color:var(--dark_gray);
}

a{
    font-family: Raleway;
    font-size: 1rem;
    color: var(--blues);
}
a:hover{
    text-decoration: underline;
}