h4 {
    background: white;
    display: inline;
    position: relative;
    left: 20px;
    bottom: 20px;
    font-family: Raleway;
    font-size: 2rem;
}
h1{
    color: var(--dark);
    font-size: 3rem;
    font-family: Montserrat;
    font-weight: 900; 
    }

h2 {
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 900; 
    color:var(--dark)
}
p{
    font-family: Montaerrat;
    color:var(--dark);
}

a{
    font-family: Montaerrat;
    font-size: 1rem;
    color: var(--blue);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}