@import url(../style.css);

.main__content{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 0;
}
.image-wrapper{
    position: relative;
}
.dog{
    width: 456px;
    height: 456px;
} 
.login-button{
    width: 339px;
    height: 40px;
}
.input-style{
    width: 339px;
    height: 44px;
    z-index: 1;
    margin-bottom: 10px;
}
form{
    border: none;
    width: 330px;
    margin-left: 45px;
}
.frame{
    position: absolute;
    left: -35px;
    top: -35px;
}
.shape{
    position: absolute;
    width: 179.4px;
    height: 80.1px;
    left: 330px;
    top:430px;
}
.pattern{
    position: absolute;
    top: 130px;
    left: 730px;
    z-index: -1;
}
h1{
    margin-bottom: 2px;
}
